ul {
  list-style-type: none;
  margin-left: none;
  margin-right: none;
}

.show-upload {
  margin-bottom: 20px;
}
.file-header {
  background-color: #EEEEEE;
  font-size: 2.5em;
  color: #616161;
  padding-left: 7%;
  margin-bottom: 15px;
}
.container-fluid {
  padding-left: 7%;
  padding-right: 7%;
}
/*.btn {
  background-color: #701515;
}

.btn:hover {
  background-color: #962d2d;
}

.btn:s*/
