<div *ngIf="showUpload" class="panel panel-default bg-info">
  <app-file-upload (newFileEntryEvent)="saveFileEntry($event)" (cancelEvent)="hideUploadForm()"></app-file-upload>
</div>
<div *ngIf="!showDetail && !showUpload" class="text-center">
  <h4 *ngIf="statusMessage">{{statusMessage}}</h4>
  <button (click)="showUploadAction()" class="btn btn-large btn-danger show-upload">Upload File</button>
  <ul>
    <app-storage-list-item *ngFor="let fileEntry of fileEntries | async" [fileEntry]="fileEntry" (click)="selectFile(fileEntry)"></app-storage-list-item>
  </ul>
</div>
<div *ngIf="showDetail">

</div>
