<div class="row text-center">
  <div class="col-xs-3">
    <h4>{{displayDay()}}</h4>
  </div>
  <div class="col-xs-7 text-right">
    <div class="btn-group">
      <div class="btn btn-primary navigation-btn" (click)="prevMonth()"><i class="fa fa-fw fa-lg fa-caret-square-o-left"></i></div>
      <div class="btn btn-primary navigation-btn" (click)="nextMonth()"><i class="fa fa-fw fa-lg fa-caret-square-o-right"></i></div>
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>
<br>
<div class="col-sm-12" *ngIf="events">
  <ul>
    <li *ngFor="let event of events | dayPipe: currentDay | async">
      <app-calendar-list-item [calendarEvent]="event" (removeEvent)="removeEvent(event)" (editEvent)="editEvent(event)" (selectedFile)="fileSelected($event)"></app-calendar-list-item>
    </li>
  </ul>
</div>
