<div class="col-xs-12 projects-header">
  Projects
</div>
<div class="container-fluid">
  <div class="row title-bar">
    <div class="col-xs-3 text-center">
      <h3>project name:
        {{ (project | async)?.name }}</h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>
        <a (click)="docModal.open()">view status doc</a>
      </h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>due date:
        {{ (project | async)?.dueDate }}</h3>
    </div>
    <div class="col-xs-3 text-center">
      <h3>
        <a class="text-danger" *ngIf="!(project | async)?.archived" (click)="archive(project)">archive this project</a>
        <a class="text-danger" *ngIf="(project | async)?.archived" (click)="unarchive(project)">unarchive this project</a>
      </h3>
    </div>
  </div>
  <div class="row">
    <h3>files</h3>
  </div>
  <div *ngIf="!newFile" class="row">
    <div class="col-sm-3 div-link" (click)="showNewFileForm()">
      <div class="div-link-contents centered-font">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div *ngFor="let file of fileEntries | async" class="col-sm-3 div-link" routerLink="/files/{{file.$key}}">
      <div class="div-link-contents">
        <h3>{{file.title}}</h3>
        <h4>status:
          {{file.status}}</h4>
        <h4></h4>
      </div>
    </div>
  </div>
  <!--task rows-->
  <div class="row">
    <h3>tasks</h3>
  </div>
  <div class="row">
    <button *ngIf="!newTaskToggle" class="btn btn-default" (click)="toggleNewTask()">New Task</button>
    <div *ngIf="newTaskToggle">
      <label for="description">Description</label>
      <input type="text" name="description" #description>
      <label for="date">Date</label>
      <input type="date" name="description" #date>
      <button (click)="newTask(description, date, id)" class="btn btn-default">Submit</button>
    </div>
  </div>
  <div class="row">
    <ul>
      <li *ngFor="let task of tasks | async">{{task.description}}</li>
    </ul>
  </div>
  <app-file-upload *ngIf="newFile" (newFileEntryEvent)="uploadFile($event)" (hideFormEvent)="hideUploadForm()" [projectId]="id"></app-file-upload>

  <modal modalClass="modal-lg" [hideCloseButton]="false" [closeOnEscape]="true" [closeOnOutsideClick]="true" class="text-center" #docModal>
    <modal-content>
      <app-document-preview *ngIf="(project | async)" [docLink]="(project | async)?.statusDoc"></app-document-preview>
    </modal-content>
  </modal>
</div>
