.fa-plus {
  margin-top: 15px;
  color: #efefef;
  position: relative;
  font-size: 10em;
}

.centered-font {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding-left: 7%;
  padding-right: 7%;
}

.projects-header {
  background-color: #EEEEEE;
  font-size: 1.3em;
  color: #616161;
  padding-left: 7%;
  margin-bottom: 15px;
}
ul {
  list-style: none;
}
