.calendar-grid {
  border: 1px solid black;
}
.calendar-grid-day {
  border: 1px solid red;
  width: 14.285714%;
  height: 80px;
}
.calendar-grid-day:hover {
  cursor: pointer;
}
.calendar-grid-day-title {
  width: 14.285714%;
  height: 20px;
}
