.calendar-grid {
  border: 1px solid #555;
}
.calendar-grid-day {
  border: 1px solid #555;
  background-color: #EEEEEE;
  width: 14.285714%;
  height: 90px;
}
.calendar-grid-day:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}
.calendar-grid-day-title {
  width: 14.285714%;
  height: 20px;
}
.navigation-btn {
  margin-top: 15px;
}
