<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="btn-group">
        <div class="btn btn-default btn-xs" (click)="view = 'grid'">Month(Grid)</div>
        <div class="btn btn-default btn-xs" (click)="view = 'month'">Month(Agenda)</div>
        <div class="btn btn-default btn-xs" (click)="view = 'week'">Week</div>
        <div class="btn btn-default btn-xs" (click)="view = 'day'">Day</div>
      </div>
    </div>
    <div class="col-sm-2 col-sm-offset-6">
      <div class="btn btn-default btn-xs" (click)="newEventModal.open()">New Event</div>
    </div>
  </div>

  <div [ngSwitch]="view">
    <app-calendar-month-grid [events]="events" (dayClicked)="switchView($event)" *ngSwitchCase="'grid'">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </app-calendar-month-grid>
    <app-calendar-month-view [events]="events" *ngSwitchCase="'month'">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </app-calendar-month-view>
    <app-calendar-week-view [events]="events" *ngSwitchCase="'week'">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </app-calendar-week-view>
    <app-calendar-day-view [events]="events" [day]="currentDay" *ngSwitchCase="'day'">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </app-calendar-day-view>
  </div>

  <modal #newEventModal>
      <modal-header class="text-center">
          <h4 *ngIf="!authService.errorMessage" class="text-center">Enter your credentials:</h4>
          <h4 *ngIf="authService.errorMessage">{{authService.errorMessage}}</h4>
      </modal-header>
      <modal-content>
        <form>
          <div class="form-group col-xs-12">
            <input class="form-control" type="text" name="newTitle" id="newTitle" placeholder="Title">
          </div>
          <div class="form-group col-xs-12">
            <input class="form-control" type="date" name="newStartDate" id="newStartDate">
          </div>
          <div class="form-group col-xs-12">
            <input class="form-control" type="time" name="newStartTime" id="newStartTime">
          </div>
          <div class="form-group col-xs-12">
            <input class="form-control" type="date" name="newEndDate" id="newEndDate">
          </div>
          <div class="form-group col-xs-12">
            <input class="form-control" type="time" name="newEndTime" id="newEndTime">
          </div>
          <div class="form-group col-xs-12">
            <select class="form-control" id="newColor"  name="newColor">
              <option *ngFor="let c of selectColors" [value]="c">{{c}}</option>
            </select>
          </div>
            <button class="btn btn-success center-block" (click)="addNewEvent()">
              Submit
            </button>
        </form>
      </modal-content>
  </modal>

</div>
