<div class="container">
  <div class="row text-center">
    <div class="btn btn-primary btn-sm" (click)="newEventModal.open()">New Event</div>
  </div>
  <div class="btn-group">
    <div class="btn btn-primary" (click)="view = 'month'">Month</div>
    <div class="btn btn-primary" (click)="view = 'week'">Week</div>
    <div class="btn btn-primary" (click)="view = 'day'">Day</div>
  </div>
  <div [ngSwitch]="view">
    <app-calendar-month-view *ngSwitchCase="'month'"></app-calendar-month-view>
    <app-calendar-week-view *ngSwitchCase="'week'"></app-calendar-week-view>
    <app-calendar-day-view *ngSwitchCase="'day'"></app-calendar-day-view>
  </div>
  <modal #newEventModal>
      <modal-header class="text-center">
          <h4 *ngIf="!authService.errorMessage" class="text-center">Enter your credentials:</h4>
          <h4 *ngIf="authService.errorMessage">{{authService.errorMessage}}</h4>
      </modal-header>
      <modal-content>
        <form>
          <div class="form-group col-xs-12">
            <input class="form-control" type="text" name="newTitle" id="newTitle" placeholder="Title">
          </div>
          <div class="form-group col-xs-12">
            <input class="form-control" type="date" name="newStartDate" id="newStartDate">
          </div>
          <div class="form-group col-xs-12">
            <input class="form-control" type="time" name="newStartTime" id="newStartTime">
          </div>
          <div class="form-group col-xs-12">
            <input class="form-control" type="date" name="newEndDate" id="newEndDate">
          </div>
          <div class="form-group col-xs-12">
            <input class="form-control" type="time" name="newEndTime" id="newEndTime">
          </div>
          <div class="form-group col-xs-12">
            <select class="form-control" id="newColor"  name="newColor">
              <option *ngFor="let c of selectColors" [value]="c">{{c}}</option>
            </select>
          </div>
            <button class="btn btn-success center-block" (click)="addNewEvent()">
              Submit
            </button>
        </form>
      </modal-content>
  </modal>

</div>
