h3 {
      margin: 0;
}

.container {
  padding-bottom: 50px;
}

ul {
  list-style: none;
}

.calendar-container {
  width: 100%;
}
.schedule-header {
  background-color: #EEEEEE;
  font-size: 1.3em;
  color: #616161;
  padding-left: 7%;
  margin-bottom: 15px;
}
.container-fluid {
  padding-left: 7%;
  padding-right: 7%;
}
