<div class="container">
  <div *ngIf="!showFileDetail">
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group">
          <div class="btn btn-default btn-xs" (click)="view = 'grid'">Month(Grid)</div>
          <div class="btn btn-default btn-xs" (click)="view = 'month'">Month(Agenda)</div>
          <div class="btn btn-default btn-xs" (click)="view = 'week'">Week</div>
          <div class="btn btn-default btn-xs" (click)="view = 'day'">Day</div>
        </div>
      </div>
      <div class="col-sm-2 col-sm-offset-6">
        <div class="btn btn-default btn-xs" (click)="newEventModal.open()">New Event</div>
      </div>
    </div>

    <div [ngSwitch]="view">
      <app-calendar-month-grid [events]="events" (dayClicked)="switchView($event)" *ngSwitchCase="'grid'">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </app-calendar-month-grid>
      <app-calendar-month-view [events]="events" (eventToEdit)="editEvent($event); editEventModal.open()" (selectedFile)="fileSelected($event)" *ngSwitchCase="'month'">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </app-calendar-month-view>
      <app-calendar-week-view [events]="events" (eventToEdit)="editEvent($event); editEventModal.open()" (selectedFile)="fileSelected($event)" *ngSwitchCase="'week'">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </app-calendar-week-view>
      <app-calendar-day-view [events]="events" (eventToEdit)="editEvent($event); editEventModal.open()" (selectedFile)="fileSelected($event)" [day]="currentDay" *ngSwitchCase="'day'">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </app-calendar-day-view>
    </div>
  </div>
  <div *ngIf="showFileDetail">
    <app-file-detail [fileEntry]="selectedFile" (unselectFileEvent)="fileUnselected()">Loading...</app-file-detail>
  </div>

  <modal #newEventModal modalClass="modal-md">
    <modal-header class="text-center">
        <h4 *ngIf="!authService.errorMessage" class="text-center">Event</h4>
        <h4 *ngIf="authService.errorMessage">{{authService.errorMessage}}</h4>
    </modal-header>
    <modal-content>
      <form id="newEventForm">
        <div class="form-group col-xs-12">
          <label for="newTitle">Title</label>
          <input class="form-control" type="text" name="newTitle" id="newTitle" value="" placeholder="Title" required>
        </div>
        <div class="form-group col-xs-12">
          <label for="newStartDate">Start Date</label>
          <input class="form-control" type="date" name="newStartDate" id="newStartDate" required>
        </div>
        <div class="form-group col-xs-12">
          <label for="newStartTime" *ngIf="!allDay">Start Time</label>
          <input class="form-control" *ngIf="!allDay" type="time" name="newStartTime" id="newStartTime">
        </div>
        <div class="form-group col-xs-12">
          <label for="newEndDate">End Date</label>
          <input class="form-control" type="date" name="newEndDate" id="newEndDate" required>
        </div>
        <div class="form-group col-xs-12">
          <label for="newEndTime" *ngIf="!allDay">End Time</label>
          <input class="form-control"  *ngIf="!allDay" type="time" name="newEndTime" id="newEndTime">
        </div>
        <div class="form-group col-xs-12">
          <label for="allDayEvent">All Day?</label>
          <input class="form-control" *ngIf="allDay"type="checkbox" checked (click)="turnOffAllDay()">
          <input class="form-control" *ngIf="!allDay" type="checkbox" (click)="turnOnAllDay()">
        </div>
        <div class="form-group col-xs-12">
          <select class="form-control" id="newColor"  name="newColor">
            <option *ngFor="let color of selectColors" [value]="color">{{color}}</option>
          </select>
        </div>
        <div class="form-group col-xs-12">
          <select class="form-control selectpicker show-tick" data-size="5" id="attachFile"  name="attachFile" multiple>
            <option *ngFor="let file of files | async" [value]=file.$key>{{file.filePath}}</option>
          </select>
        </div>
          <button class="btn btn-success center-block" (click)="addNewEvent(); newEventModal.close(); formReset()">
            Submit
          </button>
      </form>
    </modal-content>
  </modal>

  <modal #editEventModal modalClass="modal-md">
    <modal-header class="text-center">
        <h4 *ngIf="!authService.errorMessage" class="text-center">Edit Event</h4>
        <h4 *ngIf="authService.errorMessage">{{authService.errorMessage}}</h4>
    </modal-header>
    <modal-content>
      <form>
        <div *ngIf="editObject" class="form-group col-xs-12">
          <label for="newTitle">Title</label>
          <input class="form-control" type="text" name="eventTitle" id="eventTitle"  value={{editObject.title}} required>
        </div>
        <div *ngIf="editObject" class="form-group col-xs-12">
          <label for="newStartDate">Start Date</label>
          <input class="form-control" type="date" name="eventStart" id="eventStart" value={{editObject.start}} required>
        </div>
        <div *ngIf="editObject" class="form-group col-xs-12">
          <label for="newEndDate">End Date</label>
          <input class="form-control" type="date" name="eventEnd" id="eventEnd" value={{editObject.end}} required>
        </div>
        <div *ngIf="editObject" class="form-group col-xs-12">
          <select class="form-control" id="eventColor"  name="eventColor">
            <option *ngFor="let color of selectColors" [value]="color">{{color}}</option>
          </select>
        </div>
          <button class="btn btn-success center-block" (click)="submitEditedEvent(); editEventModal.close()">
            Submit
          </button>
      </form>
    </modal-content>
  </modal>
</div>
