.navbar {
  font-size: 1.0em;
  background-color: #fff;
}

.current-user:hover {
  cursor: text;
}

.navbar li {
  margin-left: 5px;
  margin-right: 20px;
}
.nav-link:hover {
  background-color: #E0E0E0;
}

.navbar li a {
  color: #616161;
}

.navbar-brand {
  font-size: 1.2em;
  color: #616161;
}
.navbar li a:hover {
}
.navbar-brand:hover {
  color: #C62828;
}
.user-icon {
  color: #616161;
}

.nav-user {
  height: 100%;
  font-size: .9em;
  margin-top: 10px;
}
@media only screen and (max-width: 1200px) {
  .navbar {
    font-size: 1em;
    padding: 15px 5px 15px 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .current-user {
    display: none;
  }
}
