/* You can add global styles to this file, and also import other style files */

.load-icon {
  margin-top: 150px;
}

.panel-default {
  padding: 20px;
  font-size: 1.2em;
}

.panel-footer {
  background-color: inherit;
}
