/* You can add global styles to this file, and also import other style files */

.load-icon {
  margin-top: 150px;
}

.panel-link {
  padding: 20px;
  font-size: 1.2em;
  background-color: #fff;
  border: solid #888 2px;
  margin: 0px 0px -2px 0px;
  border-radius: 5px;
}

.panel-footer {
  background-color: inherit;
}

.panel-link:hover {
  background-color: #eee;
  cursor: pointer;
}

a {
  color: #000;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #444;
}

body {
  background-color: #FAFAFA;
}

.btn-danger {
  background-color: #7a0d0d;
}

.btn-success {
  background-color: #2f512e;
  border: #1f331f;
}

select:hover {
  cursor: pointer;
}

.div-link {
  position: relative;
  border: solid black 3px;
}

.div-link:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.div-link:hover {
  cursor: pointer;
}

.div-link-contents {
  position: absolute;
  width: 100%;
  height: 100%;
}
