/* You can add global styles to this file, and also import other style files */

.load-icon {
  margin-top: 150px;
}

.panel-default {
  padding: 20px;
  font-size: 1.2em;
  background-color: #dedede;
  border: none;
  border-radius: 20px;
}

.panel-footer {
  background-color: inherit;
}

.panel-link:hover {
  background-color: #eee;
  cursor: pointer;
}

a {
  color: #000;
}

a:hover {
  cursor: pointer;
}
