<div>
  <p *ngIf="auth | async">Logged in as {{ authService.loggedInUser.email }}</p>
  <button class="btn btn-primary btn-xs navbar-right" (click)="authService.logout()" *ngIf="auth | async">Logout</button>
</div>
<div *ngIf="showLoginForm">
  <form class="navbar-nav nav-right" *ngIf="showLoginForm">
    <input type="text" name="username" id="username" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
  </form>
  <button class="btn btn-success btn-xs navbar-right" (click)="passCredentials()">
    Submit
  </button>
</div>
<div *ngIf="!showLoginForm && !(auth | async)">
  <button class="btn btn-primary btn-xs navbar-right" (click)="toggleLoginForm()">
    Login
  </button>
</div>
