<div>
  <button class="btn btn-primary btn-xs navbar-right" (click)="authService.login()" *ngIf="!(auth | async)">Login with Google</button>
  <form class="nav-right" *ngIf="authService.emailBool">
    <input type="text" name="username" id="username" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
  </form>
  <button class="btn btn-primary btn-xs navbar-right" (click)="authService.emailLogin()" *ngIf="!authService.emailBool && !authService.loggedIn()">Login with Email</button>
  <button class="btn btn-primary btn-xs navbar-right" (click)="passCredentials()" *ngIf="authService.emailBool">Login with Email</button>  
  <button class="btn btn-primary btn-xs navbar-right" (click)="authService.logout()" *ngIf="auth | async">Logout</button>
</div>
