/* this selector applies styling to all iframe children of component*/
:host >>> iframe {
  width: 100%;
  height: 80vh;
}

.panel-default:hover {
  cursor: pointer;
}
.documents-header {
  background-color: #EEEEEE;
  font-size: 1.3em;
  color: #616161;
  padding-left: 7%;
  margin-bottom: 15px;
}
