<div class="col-xs-12 documents-header">
  Documents
</div>
<div class="container-fluid">
  <div *ngIf="!selectedDocument"  class="text-center">
    <app-add-document (newDocumentEvent)="saveDocumentItem($event)"></app-add-document>
    <div *ngFor="let doc of documents | async" (click)="selectDocument(doc)" class="panel panel-default panel-link">
      <h4>
        <a>{{doc.title}}</a>
      </h4>
    </div>
  </div>
  <div *ngIf="selectedDocument" class="iframe-container">
    <h4 class="text-center"><a (click)="unselectDocument()">Back to list</a> - <a [href]="extDocUrl" target="_blank">View/Edit on Google Docs </a></h4>
    <app-remove-document *ngIf="authService.isAdmin()" (removeDocEvent)="removeDoc()"></app-remove-document>
    <iframe [src]="iframeUrl"></iframe>
  </div>
</div>
