<content-detail *ngIf="selectedContentItem !== null" [contentItem]="selectedContentItem" (hideDetailEvent)="deselectContentItem($event)" (updateApprovalEvent)="updateApproval($event)"></content-detail>
<div *ngIf="selectedContentItem == null">
  <select (change)="sortChange($event.target.value)">
    <option selected value="1">Oldest First</option>
    <option value="-1">Newest First</option>
  </select>
  <ul>
    <li *ngFor="let contentItem of content | timePipe:ascOrDesc | async">
      <content-list-item [contentItem]="contentItem" (viewDetailsEvent)="selectContentItem($event)"></content-list-item>
    </li>
    <new-content *ngIf="authService.isAdmin()" (newContentItemEvent)="saveContent($event)"></new-content>
  </ul>
</div>
