<content-detail *ngIf="selectedContentItem !== null" [contentItem]="selectedContentItem" (hideDetailEvent)="deselectContentItem($event)" (updateApprovalEvent)="updateApproval($event)"></content-detail>
<ul *ngIf="selectedContentItem == null">
  <li *ngFor="let contentItem of content | async">
    <content-list-item [contentItem]="contentItem" (viewDetailsEvent)="selectContentItem($event)"></content-list-item>
  </li>
  <new-content *ngIf="authService.isAdmin()" (newContentItemEvent)="saveContent($event)"></new-content>
</ul>
