<div class="row text-center">
  <div class="row text-center">
    <h3>Week of {{displayWeek()}}</h3>
  </div>
  <div class="btn-group">
    <div class="btn btn-primary" (click)="prevWeek()"><i class="fa fa-fw fa-lg fa-caret-square-o-left"></i></div>
    <div class="btn btn-primary" (click)="nextWeek()"><i class="fa fa-fw fa-lg fa-caret-square-o-right"></i></div>
  </div>
</div>
<br>
<div class="col-sm-12">
  <ul>
    <li *ngFor="let event of events | weekPipe: currentWeek | async">
      <app-calendar-list-item [calendarEvent]="event" (removeEvent)="removeEvent(event)" (editEvent)="editEvent(event)"></app-calendar-list-item>
    </li>
  </ul>
</div>
