<div class="jumbotron content-detail">
  <button (click)="hideDetail()" class="btn btn-danger">Back to list</button>
  <ul>
    <h3>{{contentItem.description}}</h3>
    <li>id: {{contentItem.$key}}</li>
    <li>
      <select [(ngModel)]="contentItem.approvalStatus">
        <option value="Not Approved">Not Approved</option>
        <option value="Needs Work">Needs Work</option>
        <option value="Approved">Approved</option>
      </select>
      <button (click)="updateApprovalStatus()" class="btn btn-success">Save Changes</button>
    </li>
    <li>Date added: {{contentItem.dateAdded}}</li>
    <li>Created by: {{contentItem.createdBy}}</li>
  </ul>
</div>
<app-comment-list [contentItem]="contentItem"></app-comment-list>
