<div class="col-xs-12 projects-header">
  Projects
</div>
<div class="container-fluid">
  <div class="row">
    <div *ngIf="(authService.isAdmin())" class="col-sm-3 div-link" routerLink="/projects/new">
      <div class="div-link-contents">
        <h1>NEW</h1>
      </div>
    </div>
    <div *ngFor="let proj of projects | async" class="col-sm-3 div-link" routerLink="/projects/{{proj.$key}}">
      <div class="div-link-contents">
        <app-project-preview [project]="proj"></app-project-preview>
      </div>
    </div>
  </div>
  <div>
    archived projects
  </div>
</div>
