<div class="col-xs-12 task-header">
  Tasks
</div>
<div class="container-fluid">
  <br>
  <button *ngIf="!newTaskToggle" class="btn btn-default" (click)="toggleNewTask()">New Task</button>
  <div *ngIf="newTaskToggle">
    <label for="description">Description</label>
    <input type="text" name="description" #description>
    <label for="date">Date</label>
    <input type="date" name="description" #date>
    <button (click)="newTask(description, date)" class="btn btn-default">Submit</button>
  </div>


  <div *ngIf="tasks">
    <h4>Upcoming</h4>
    <app-upcoming-tasks [tasks]="tasks"></app-upcoming-tasks>
  </div>

</div>
