<div class="col-xs-12 task-header">
  Tasks
</div>

<div class="container-fluid">
  <br>
  <button *ngIf="!newTaskToggle" class="btn btn-default" (click)="toggleNewTask()">New Task</button>
  <div *ngIf="newTaskToggle">
    <label for="description">Description</label>
    <input type="text" name="description" #description>
    <label for="date">Date</label>
    <input type="date" name="description" #date>
    <button (click)="newTask(description, date)" class="btn btn-default">Submit</button>
  </div>


  <div *ngIf="Tasks">
    <ul>
      <li *ngFor="let task of Tasks">{{task.description}} - {{task.date | toDate}}</li>
    </ul>
  </div>
  
</div>
